:root {
  --default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Raleway", sans-serif;
  --nav-font: "Poppins", sans-serif;
  --background-color: #ffffff;
  /* Background color for the entire website, including individual sections */
  --default-color: #444444;
  /* Default color used for the majority of the text content across the entire website */
  --heading-color: #124265;
  /* Color for headings, subheadings and title throughout the website */
  --accent-color: #2487ce;
  /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
  --surface-color: #ffffff;
  /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
  --contrast-color: #ffffff;
  /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
  --nav-color: #124265;
  /* The default color of the main navmenu links */
  --nav-hover-color: #2487ce;
  /* Applied to main navmenu links when they are hovered over or active */
  --nav-mobile-background-color: #ffffff;
  /* Used as the background color for mobile navigation menu */
  --nav-dropdown-background-color: #ffffff;
  /* Used as the background color for dropdown items that appear when hovering over primary navigation items */
  --nav-dropdown-color: #124265;
  /* Used for navigation links of the dropdown items in the navigation menu. */
  --nav-dropdown-hover-color: #2487ce;
  /* Similar to --nav-hover-color, this color is applied to dropdown navigation links when they are hovered over. */

  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400; */

  color-scheme: light;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  color: var(--default-color);
  background-color: var(--background-color);
  font-family: var(--default-font);

}

a {
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: color-mix(in srgb, var(--accent-color), transparent 25%);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

/* .app-list-container {
   min-height: 600px; 
   Adjust as needed 
} */

.app-card-header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.app-card .p-card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  cursor: pointer;

}

.p-card-header img {
  width: 50px !important;
  height: 50px !important;
  object-fit: contain;
}

/* Ensure card is fixed width */
.app-card {
  width: 100%;
  cursor: pointer;
}

.p-card .p-card-title {
  font-size: 1rem;
  font-weight: 700;

}

.app-description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-height: 40px;
  max-height: 40px;
}

.p-card .p-card-content {
  padding: 0 !important;
  cursor: pointer;

}

.p-card .p-card-title {
  margin-bottom: 0 !important;
  ;
}

.p-galleria .p-galleria-thumbnail-container {
  background: rgba(255, 255, 255, 0.9);
}

.p-galleria .p-galleria-item-prev,
.p-galleria .p-galleria-item-next {
  top: 50% !important;
  transform: translateY(-50%);
  color: #010101;
  border: #010101;
}

/* .p-dialog .p-dialog-header-icon svg,
.p-galleria .p-galleria-item-next svg,
.p-galleria .p-galleria-item-prev svg {
  width: 1.25rem;
  height: 1.25rem;
  fill: black;
  display: inline-block;
} */

.fullscreen-image-dialog.p-dialog {
  width: 90vw !important;
  height: 90vh !important;
  max-width: 90vw;
  max-height: 90vh;
  margin: 0;

  /* border-radius:0;
  box-shadow: none; */

  border-radius: 10px;
  /* Adjust as needed */
  overflow: hidden;
  /* Ensure inner content respects the rounded corners */
}

.fullscreen-image-dialog .p-dialog-content {
  padding: 0 !important;
  overflow: visible;
  height: 100% !important;
}

.fullscreen-image {
  width: 100%;
  height: 100%;
  object-fit: fill;
  /* or 'cover' depending on your goal */
  display: block;
}

/* Remove header space from PrimeReact Dialog */
.fullscreen-image-dialog .p-dialog-header {
  display: none !important;
  height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}

.p-progress-spinner-circle {
  stroke: #007bff !important;
}

.footer {
  color: var(--default-color);
  background-color: var(--background-color);
  border-top: 1px solid color-mix(in srgb, var(--accent-color), transparent 80%);
  font-size: 14px;
  /* padding-bottom: 50px; */
  position: relative;
}

.footer .footer-top {
  padding-top: 20px;
}

.footer .footer-about .logo {
  line-height: 1;
  margin-bottom: 25px;
}

.footer .footer-about .logo img {
  max-height: 40px;
  margin-right: 6px;
}

.footer .footer-about .logo span {
  color: var(--heading-color);
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: var(--heading-font);
}

.footer .footer-about p {
  font-size: 14px;
  font-family: var(--heading-font);
}

.footer .social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid color-mix(in srgb, var(--accent-color), transparent 50%);
  font-size: 16px;
  color: var(--accent-color);
  margin-right: 10px;
  transition: 0.3s;
}

.footer .social-links a:hover {
  background-color: var(--accent-color);
  color: var(--contrast-color);
  border-color: var(--accent-color);
}

.footer h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}

.footer .footer-links {
  margin-bottom: 30px;
}

.footer .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-links ul i {
  padding-right: 2px;
  font-size: 12px;
  line-height: 0;
}

.footer .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-links ul a {
  color: color-mix(in srgb, var(--default-color), transparent 20%);
  display: inline-block;
  line-height: 1;
}

.footer .footer-links ul a:hover {
  color: var(--accent-color);
}

.footer .footer-contact p {
  margin-bottom: 5px;
}

.footer .copyright {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: var(--accent-color);
  color: var(--contrast-color);
}

.footer .copyright p {
  margin-bottom: 0;
}

.footer .credits {
  margin-top: 4px;
  font-size: 13px;
}

.footer .credits a {
  color: color-mix(in srgb, var(--contrast-color), transparent 30%);
}

.scroll-top {
  position: fixed;
  /* visibility: hidden;
  opacity: 0; */
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background-color: var(--accent-color);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.scroll-top i {
  font-size: 24px;
  color: var(--contrast-color);
  line-height: 0;
}

.scroll-top:hover {
  background-color: color-mix(in srgb, var(--accent-color), transparent 20%);
  color: var(--contrast-color);
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
}

.light-background {
  --background-color: #f6fafd;
  --surface-color: #ffffff;
}

.p-card {
  background-color: #f6fafd;
  --surface-color: #ffffff;
}

.list-group-item {
  background-color: #f6fafd;
}

.form-control {
  background-color: #f6fafd;
}

.form-select {
  background-color: #f6fafd;
}

.p-inputtext {
  background-color: #f6fafd;
}

.p-galleria .p-galleria-item-prev,
.p-galleria .p-galleria-item-next {
  background-color: #2487ce;
  color: white;
}

.custom-table-bg {
  background-color: #f6fafd;
}

.table>:not(caption)>*>* {
  background-color: #f6fafd;
}